pagination {
    display: flex;
    flex-wrap: wrap;

    div{
        a{
            border-radius: 5px;
            display: grid;
            width: 60px;
            height: 40px;
            place-content: center;
            color: black;
            background: #fff;
            font-size: 14px;
        }

        a:hover{
            color: #fff;
            background: rgba($color: #000000, $alpha: .5);
        }
    }


    .active{
        a{
            border-radius: 5px;
            display: grid;
            width: 60px;
            height: 40px;
            place-content: center;
            color: #fff !important;
            background: #000 !important;
            font-size: 14px;
        }
    }
}