@use "sass:meta";
@use "sass:list";
@use "sass:map";

@import "corecss/variable";
@import "corecss/reset";
@import "card";
@import "pagination";
@import "modal";
@import "table";


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
  font-family: 'Open Sans', sans-serif !important;
}

body{
  z-index: 1;
  overflow: hidden !important;
}

a {
  transition: .3s;
  cursor: pointer;
}

.section{
  min-height: 100vh;
  width: 100vw;
  overflow-y: scroll !important;

  .main-section{
    padding-inline: calc(0.5rem * 3);
    padding-block: calc(0.5rem * 2);
    border-left: 3px rgba($color: #000000, $alpha: .2) solid;
  }
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.me-auto {
  margin-right: auto;
}

.ms-auto {
  margin-left: auto;
}

.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

.m-auto {
  margin: auto;
}

// Padding
.pt-auto {
  padding-top: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.pe-auto {
  padding-right: auto;
}

.ps-auto {
  padding-left: auto;
}

.px-auto {
  padding-inline: auto;
}

.py-auto {
  padding-block: auto;
}

.p-auto {
  padding: auto;
}


@for $i from 1 through 8 {
  .mt-#{$i} {
    margin-top: calc(0.5rem * #{$i});
  }

  .mb-#{$i} {
    margin-bottom: calc(0.5rem * #{$i});
  }

  .me-#{$i} {
    margin-right: calc(0.5rem * #{$i});
  }

  .ms-#{$i} {
    margin-left: calc(0.5rem * #{$i});
  }

  .mx-#{$i} {
    margin-inline: calc(0.5rem * #{$i});
  }

  .my-#{$i} {
    margin-block: calc(0.5rem * #{$i});
  }

  .m-#{$i} {
    margin: calc(0.5rem * #{$i});
  }

  .pt-#{$i} {
    padding-top: calc(0.5rem * #{$i});
  }

  .pb-#{$i} {
    padding-bottom: calc(0.5rem * #{$i});
  }

  .pe-#{$i} {
    padding-right: calc(0.5rem * #{$i});
  }

  .ps-#{$i} {
    padding-left: calc(0.5rem * #{$i});
  }

  .px-#{$i} {
    padding-inline: calc(0.5rem * #{$i});
  }

  .py-#{$i} {
    padding-block: calc(0.5rem * #{$i});
  }

  .p-#{$i} {
    padding: calc(0.5rem * #{$i});
  }
  

  h#{$i} {
    font-size: calc(3rem - calc(0.25rem * #{$i}));
  }
}


@each $name, $color in $colors {
  .text-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background-color: $color;
  }

  .btn-#{$name}{
    background-color: $color;
  }

  .btn-outline-#{$name}{
    border: 2px $color solid !important;
    color: $color;
  }


  .btn-outline-#{$name}:hover{
    background-color: $color;
  }


  .hover-text-#{$name}:hover{
    color: $color !important;
  }
}




// WIDTH
.w-25{
  width: 25%;
}

.w-50{
  width: 55%;
}

.w-75{
  width: 75%;
}

.w-100{
  width: 100%;
}

.w-full{
  width: 100vw;
}

a {
  text-decoration: none !important;
}

// HEIGTH
.h-25{
  height: 25%;
}

.h-50{
  height: 55%;
}

.h-75{
  height: 75%;
}

.h-100{
  height: 100%;
}

.h-full{
  height: 100vh;
}


.text-center{
  text-align: center;
}

.text-end{
  text-align: right;
}

.text-start{
  text-align: left;
}

// DISPLAY
.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-inline {
  display: inline;
}

.btn{
  transition: .3s;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: .40rem;
  cursor: pointer !important;
}


p {
  font-size: 14px;
}

.link{
  border-radius: 15px;
}

.link.active{
  background: rgba($color: #000000, $alpha: .7);
}

.link.active:hover{
  background: rgba($color: #000000, $alpha: .7);
}

.link:hover{
  background: rgba($color: #000000, $alpha: .5);
  border-radius: 15px;
}

.sidebar{
  box-sizing: border-box;
  width: 250px;
}

form {
  .form-control{
    padding: .5rem;
    display: block;
    width: 15rem;
    transition: .3s;
  }
}