/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.card {
  border: 1px;
  border-radius: 5px !important;
  color: black;
}
.card .card-title {
  font-size: 20px;
}

pagination {
  display: flex;
  flex-wrap: wrap;
}
pagination div a {
  border-radius: 5px;
  display: grid;
  width: 60px;
  height: 40px;
  place-content: center;
  color: black;
  background: #fff;
  font-size: 14px;
}
pagination div a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
pagination .active a {
  border-radius: 5px;
  display: grid;
  width: 60px;
  height: 40px;
  place-content: center;
  color: #fff !important;
  background: #000 !important;
  font-size: 14px;
}

.modal {
  background: rgba(0, 0, 0, 0.75);
  position: absolute;
  display: grid;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  box-sizing: content-box;
}

.modal.show {
  z-index: 999;
}

.modal-dialog {
  margin-top: 5rem;
  background: #fff;
  padding: 2rem;
  width: 600px;
  height: -moz-fit-content;
  height: fit-content;
}

.table-1 {
  display: inline-table;
  width: 100%;
  border: 1px solid rgb(101, 101, 101);
  border-radius: 10px;
  overflow: hidden;
}
.table-1 thead {
  border-bottom: 1px solid rgb(101, 101, 101);
  border-radius: 10px;
}
.table-1 thead th {
  text-align: center;
  font-size: 16px !important;
  padding-block: 1rem;
  font-weight: bold;
  padding-inline: 1rem;
}
.table-1 tbody tr td {
  text-align: center;
  font-size: 16px !important;
  padding-block: 1rem;
  padding-inline: 1rem;
}

* {
  font-family: "Open Sans", sans-serif !important;
}

body {
  z-index: 1;
  overflow: hidden !important;
}

a {
  transition: 0.3s;
  cursor: pointer;
}

.section {
  min-height: 100vh;
  width: 100vw;
  overflow-y: scroll !important;
}
.section .main-section {
  padding-inline: 1.5rem;
  padding-block: 1rem;
  border-left: 3px rgba(0, 0, 0, 0.2) solid;
}

.mt-auto {
  margin-top: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.me-auto {
  margin-right: auto;
}

.ms-auto {
  margin-left: auto;
}

.mx-auto {
  margin-inline: auto;
}

.my-auto {
  margin-block: auto;
}

.m-auto {
  margin: auto;
}

.pt-auto {
  padding-top: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.pe-auto {
  padding-right: auto;
}

.ps-auto {
  padding-left: auto;
}

.px-auto {
  padding-inline: auto;
}

.py-auto {
  padding-block: auto;
}

.p-auto {
  padding: auto;
}

.mt-1 {
  margin-top: calc(0.5rem * 1);
}

.mb-1 {
  margin-bottom: calc(0.5rem * 1);
}

.me-1 {
  margin-right: calc(0.5rem * 1);
}

.ms-1 {
  margin-left: calc(0.5rem * 1);
}

.mx-1 {
  margin-inline: calc(0.5rem * 1);
}

.my-1 {
  margin-block: calc(0.5rem * 1);
}

.m-1 {
  margin: calc(0.5rem * 1);
}

.pt-1 {
  padding-top: calc(0.5rem * 1);
}

.pb-1 {
  padding-bottom: calc(0.5rem * 1);
}

.pe-1 {
  padding-right: calc(0.5rem * 1);
}

.ps-1 {
  padding-left: calc(0.5rem * 1);
}

.px-1 {
  padding-inline: calc(0.5rem * 1);
}

.py-1 {
  padding-block: calc(0.5rem * 1);
}

.p-1 {
  padding: calc(0.5rem * 1);
}

h1 {
  font-size: calc(3rem - (0.25rem * 1));
}

.mt-2 {
  margin-top: calc(0.5rem * 2);
}

.mb-2 {
  margin-bottom: calc(0.5rem * 2);
}

.me-2 {
  margin-right: calc(0.5rem * 2);
}

.ms-2 {
  margin-left: calc(0.5rem * 2);
}

.mx-2 {
  margin-inline: calc(0.5rem * 2);
}

.my-2 {
  margin-block: calc(0.5rem * 2);
}

.m-2 {
  margin: calc(0.5rem * 2);
}

.pt-2 {
  padding-top: calc(0.5rem * 2);
}

.pb-2 {
  padding-bottom: calc(0.5rem * 2);
}

.pe-2 {
  padding-right: calc(0.5rem * 2);
}

.ps-2 {
  padding-left: calc(0.5rem * 2);
}

.px-2 {
  padding-inline: calc(0.5rem * 2);
}

.py-2 {
  padding-block: calc(0.5rem * 2);
}

.p-2 {
  padding: calc(0.5rem * 2);
}

h2 {
  font-size: calc(3rem - (0.25rem * 2));
}

.mt-3 {
  margin-top: calc(0.5rem * 3);
}

.mb-3 {
  margin-bottom: calc(0.5rem * 3);
}

.me-3 {
  margin-right: calc(0.5rem * 3);
}

.ms-3 {
  margin-left: calc(0.5rem * 3);
}

.mx-3 {
  margin-inline: calc(0.5rem * 3);
}

.my-3 {
  margin-block: calc(0.5rem * 3);
}

.m-3 {
  margin: calc(0.5rem * 3);
}

.pt-3 {
  padding-top: calc(0.5rem * 3);
}

.pb-3 {
  padding-bottom: calc(0.5rem * 3);
}

.pe-3 {
  padding-right: calc(0.5rem * 3);
}

.ps-3 {
  padding-left: calc(0.5rem * 3);
}

.px-3 {
  padding-inline: calc(0.5rem * 3);
}

.py-3 {
  padding-block: calc(0.5rem * 3);
}

.p-3 {
  padding: calc(0.5rem * 3);
}

h3 {
  font-size: calc(3rem - (0.25rem * 3));
}

.mt-4 {
  margin-top: calc(0.5rem * 4);
}

.mb-4 {
  margin-bottom: calc(0.5rem * 4);
}

.me-4 {
  margin-right: calc(0.5rem * 4);
}

.ms-4 {
  margin-left: calc(0.5rem * 4);
}

.mx-4 {
  margin-inline: calc(0.5rem * 4);
}

.my-4 {
  margin-block: calc(0.5rem * 4);
}

.m-4 {
  margin: calc(0.5rem * 4);
}

.pt-4 {
  padding-top: calc(0.5rem * 4);
}

.pb-4 {
  padding-bottom: calc(0.5rem * 4);
}

.pe-4 {
  padding-right: calc(0.5rem * 4);
}

.ps-4 {
  padding-left: calc(0.5rem * 4);
}

.px-4 {
  padding-inline: calc(0.5rem * 4);
}

.py-4 {
  padding-block: calc(0.5rem * 4);
}

.p-4 {
  padding: calc(0.5rem * 4);
}

h4 {
  font-size: calc(3rem - (0.25rem * 4));
}

.mt-5 {
  margin-top: calc(0.5rem * 5);
}

.mb-5 {
  margin-bottom: calc(0.5rem * 5);
}

.me-5 {
  margin-right: calc(0.5rem * 5);
}

.ms-5 {
  margin-left: calc(0.5rem * 5);
}

.mx-5 {
  margin-inline: calc(0.5rem * 5);
}

.my-5 {
  margin-block: calc(0.5rem * 5);
}

.m-5 {
  margin: calc(0.5rem * 5);
}

.pt-5 {
  padding-top: calc(0.5rem * 5);
}

.pb-5 {
  padding-bottom: calc(0.5rem * 5);
}

.pe-5 {
  padding-right: calc(0.5rem * 5);
}

.ps-5 {
  padding-left: calc(0.5rem * 5);
}

.px-5 {
  padding-inline: calc(0.5rem * 5);
}

.py-5 {
  padding-block: calc(0.5rem * 5);
}

.p-5 {
  padding: calc(0.5rem * 5);
}

h5 {
  font-size: calc(3rem - (0.25rem * 5));
}

.mt-6 {
  margin-top: calc(0.5rem * 6);
}

.mb-6 {
  margin-bottom: calc(0.5rem * 6);
}

.me-6 {
  margin-right: calc(0.5rem * 6);
}

.ms-6 {
  margin-left: calc(0.5rem * 6);
}

.mx-6 {
  margin-inline: calc(0.5rem * 6);
}

.my-6 {
  margin-block: calc(0.5rem * 6);
}

.m-6 {
  margin: calc(0.5rem * 6);
}

.pt-6 {
  padding-top: calc(0.5rem * 6);
}

.pb-6 {
  padding-bottom: calc(0.5rem * 6);
}

.pe-6 {
  padding-right: calc(0.5rem * 6);
}

.ps-6 {
  padding-left: calc(0.5rem * 6);
}

.px-6 {
  padding-inline: calc(0.5rem * 6);
}

.py-6 {
  padding-block: calc(0.5rem * 6);
}

.p-6 {
  padding: calc(0.5rem * 6);
}

h6 {
  font-size: calc(3rem - (0.25rem * 6));
}

.mt-7 {
  margin-top: calc(0.5rem * 7);
}

.mb-7 {
  margin-bottom: calc(0.5rem * 7);
}

.me-7 {
  margin-right: calc(0.5rem * 7);
}

.ms-7 {
  margin-left: calc(0.5rem * 7);
}

.mx-7 {
  margin-inline: calc(0.5rem * 7);
}

.my-7 {
  margin-block: calc(0.5rem * 7);
}

.m-7 {
  margin: calc(0.5rem * 7);
}

.pt-7 {
  padding-top: calc(0.5rem * 7);
}

.pb-7 {
  padding-bottom: calc(0.5rem * 7);
}

.pe-7 {
  padding-right: calc(0.5rem * 7);
}

.ps-7 {
  padding-left: calc(0.5rem * 7);
}

.px-7 {
  padding-inline: calc(0.5rem * 7);
}

.py-7 {
  padding-block: calc(0.5rem * 7);
}

.p-7 {
  padding: calc(0.5rem * 7);
}

h7 {
  font-size: calc(3rem - (0.25rem * 7));
}

.mt-8 {
  margin-top: calc(0.5rem * 8);
}

.mb-8 {
  margin-bottom: calc(0.5rem * 8);
}

.me-8 {
  margin-right: calc(0.5rem * 8);
}

.ms-8 {
  margin-left: calc(0.5rem * 8);
}

.mx-8 {
  margin-inline: calc(0.5rem * 8);
}

.my-8 {
  margin-block: calc(0.5rem * 8);
}

.m-8 {
  margin: calc(0.5rem * 8);
}

.pt-8 {
  padding-top: calc(0.5rem * 8);
}

.pb-8 {
  padding-bottom: calc(0.5rem * 8);
}

.pe-8 {
  padding-right: calc(0.5rem * 8);
}

.ps-8 {
  padding-left: calc(0.5rem * 8);
}

.px-8 {
  padding-inline: calc(0.5rem * 8);
}

.py-8 {
  padding-block: calc(0.5rem * 8);
}

.p-8 {
  padding: calc(0.5rem * 8);
}

h8 {
  font-size: calc(3rem - (0.25rem * 8));
}

.text-primary {
  color: #2d3436 !important;
}

.bg-primary {
  background-color: #2d3436;
}

.btn-primary {
  background-color: #2d3436;
}

.btn-outline-primary {
  border: 2px #2d3436 solid !important;
  color: #2d3436;
}

.btn-outline-primary:hover {
  background-color: #2d3436;
}

.hover-text-primary:hover {
  color: #2d3436 !important;
}

.text-secondary {
  color: #dfe6e9 !important;
}

.bg-secondary {
  background-color: #dfe6e9;
}

.btn-secondary {
  background-color: #dfe6e9;
}

.btn-outline-secondary {
  border: 2px #dfe6e9 solid !important;
  color: #dfe6e9;
}

.btn-outline-secondary:hover {
  background-color: #dfe6e9;
}

.hover-text-secondary:hover {
  color: #dfe6e9 !important;
}

.text-white {
  color: #fff !important;
}

.bg-white {
  background-color: #fff;
}

.btn-white {
  background-color: #fff;
}

.btn-outline-white {
  border: 2px #fff solid !important;
  color: #fff;
}

.btn-outline-white:hover {
  background-color: #fff;
}

.hover-text-white:hover {
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background-color: #000;
}

.btn-black {
  background-color: #000;
}

.btn-outline-black {
  border: 2px #000 solid !important;
  color: #000;
}

.btn-outline-black:hover {
  background-color: #000;
}

.hover-text-black:hover {
  color: #000 !important;
}

.text-danger {
  color: #e74c3c !important;
}

.bg-danger {
  background-color: #e74c3c;
}

.btn-danger {
  background-color: #e74c3c;
}

.btn-outline-danger {
  border: 2px #e74c3c solid !important;
  color: #e74c3c;
}

.btn-outline-danger:hover {
  background-color: #e74c3c;
}

.hover-text-danger:hover {
  color: #e74c3c !important;
}

.text-warning {
  color: #f1c40f !important;
}

.bg-warning {
  background-color: #f1c40f;
}

.btn-warning {
  background-color: #f1c40f;
}

.btn-outline-warning {
  border: 2px #f1c40f solid !important;
  color: #f1c40f;
}

.btn-outline-warning:hover {
  background-color: #f1c40f;
}

.hover-text-warning:hover {
  color: #f1c40f !important;
}

.text-info {
  color: #3498db !important;
}

.bg-info {
  background-color: #3498db;
}

.btn-info {
  background-color: #3498db;
}

.btn-outline-info {
  border: 2px #3498db solid !important;
  color: #3498db;
}

.btn-outline-info:hover {
  background-color: #3498db;
}

.hover-text-info:hover {
  color: #3498db !important;
}

.text-success {
  color: #2ecc71 !important;
}

.bg-success {
  background-color: #2ecc71;
}

.btn-success {
  background-color: #2ecc71;
}

.btn-outline-success {
  border: 2px #2ecc71 solid !important;
  color: #2ecc71;
}

.btn-outline-success:hover {
  background-color: #2ecc71;
}

.hover-text-success:hover {
  color: #2ecc71 !important;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 55%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.w-full {
  width: 100vw;
}

a {
  text-decoration: none !important;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 55%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.h-full {
  height: 100vh;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-start {
  text-align: left;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

.d-inline {
  display: inline;
}

.btn {
  transition: 0.3s;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-inline: 1.2rem;
  padding-block: 0.4rem;
  cursor: pointer !important;
}

p {
  font-size: 14px;
}

.link {
  border-radius: 15px;
}

.link.active {
  background: rgba(0, 0, 0, 0.7);
}

.link.active:hover {
  background: rgba(0, 0, 0, 0.7);
}

.link:hover {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.sidebar {
  box-sizing: border-box;
  width: 250px;
}

form .form-control {
  padding: 0.5rem;
  display: block;
  width: 15rem;
  transition: 0.3s;
}/*# sourceMappingURL=index.css.map */